/* Body text */
body {
  font-size: 22px;
  line-height: 1.5;

  background-image: linear-gradient(45deg, red, hsl(205, 100%, 65%));

  min-height: 100vh;
}

/* Card Heading */
h3 {
  font-family: 'Lato', sans-serif, 'Montserrat', sans-serif;
}

/* Main Text */
p {
 font-size: medium;
}

/* Call-to-action container */
.cta {
  margin: auto;
  margin-top: 2rem;
  max-width: 30ch;
  
  padding: 2rem;
  border-radius: 1rem;
}

/* Call to Action "button" */
.cta a {
  margin: auto;
  padding: 1.5rem 1.5rem;
  display: block;
  width: fit-content;
  
  font-family: "Carter One", serif;
  text-decoration: none;

  background-color: hsl(145, 94%, 81%);
  color: hsl(50, 60%, 2%);
  border-radius: 1.5rem;
}

/* Hover state */
.cta a:hover {
  background-color: hsl(204, 47%, 20%);
  color: hsl(0, 14%, 99%);
}

/* Click state */
.cta a:active {
  background-color: hsl(64, 100%, 50%);
  color: hsl(0, 50%, 95%);
}

/* Embedded Image */
img {
  object-fit: fill;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  margin: auto;
}