body {
  /* Body text */
  font-family: "Lato", sans-serif;
  font-size: 22px;
  line-height: 1.5;

  background-image: linear-gradient(45deg, red, hsl(205, 100%, 65%));

  min-height: 100vh;
}

p {
 font-size: medium;
}

.cta {
  /* Call-to-action container */
  margin: auto;
  margin-top: 2rem;
  padding: 2rem;
  max-width: 30ch;
  
  border-radius: 1rem;
}

.cta a {
  /* Call to Action "button" */
  margin: auto;
  padding: 1.5rem 1.5rem;
  display: block;
  width: fit-content;
  
  font-family: "Carter One", serif;
  text-decoration: none;

  background-image: url(https://fastly.picsum.photos/id/63/200/185.jpg?hmac=HvaeSK6WT-G9bYF_CyB2m1ARQirL8UMnygdU9W6PDvM);
  background-color: hsl(50, 100%, 60%);
  color: hsl(50, 50%, 20%);
  border-radius: 1.5rem;
}

.cta a:hover {
  /* Hover state */
  background-color: hsl(50, 58%, 56%);
  color: hsl(50, 50%, 95%);
}

.cta a:active {
  /* Click state */
  background-color: hsl(0, 100%, 40%);
  color: hsl(0, 50%, 95%);
}

img {
  object-fit: fill;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  margin: auto;
}